<h2><%= @list.name %></h2>

<div class="container">
  <div class="row mt-5">
    <% @list.movies.each do |movie| %>
     <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <ul>
      <li><%= movie.title %></li>
    </ul>
    <% end %>
  </div>
</div>
 <%= link_to "Back to list", lists_path %> |
 <%= link_to "Add a movie to this list", new_list_bookmark_path(@list) %>
